body, h1, h2, h3, h4, p, ul, ol[class], li, figure, figcaption, blockquote, dl, dd, html {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    width: 1280px;
    max-width: 1280px;
    min-width: 250px;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
    font-family: 'Inika';
    font-style: normal;
    transition: 0.3s;
}
* {
    box-sizing: border-box;
}
.dFlex {
    display: flex;
}
.dNone {
    display: none;
}

.start {
    height: 908px;
    padding: 0 40px;
    background-image: url(img/start-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.startHeader {
    padding-top: 30px;
    justify-content: space-between;
}
.logoLink {
    text-decoration: none;
}
.startH1 {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.startP {
    margin: 10px 0 0 4px;
    font-family: 'Arial';
    line-height: 15px;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #FFF;
}
.navbar {
    margin-top: 16px;
    width: 443px;
    justify-content: space-between;
    list-style-type: none;
}
.navA {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
    transition: 0.3s;
}
.navA:hover {
    color: #FAFAFA;
    cursor: pointer;
}
.navAActive {
    color: #FAFAFA;
    text-decoration: underline;
}
.navAActive:hover {
    cursor: default;
}
.startMain {
    margin-top: 90px;
    justify-content: space-between;
}
.startText {
    margin-top: 163px;
    width: 460px;
}
.startTextH2 {
    width: 315px;
    font-family: 'Georgia';
    font-weight: 100;
    font-size: 44px;
    line-height: 130%;
    color: #FFF;
    letter-spacing: -0.1px;
}
.startTextP {
    margin: 42px 0 56px;
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}
.startImg {
    background: url(img/start-dog.png) center;
    width: 698px;
    height: 728px;
}
.startBtn {
    text-decoration: none;
    padding: 16px 45px;
    width: 207px;
}
.btn {
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: 0.3s;
}
.btn:hover {
    cursor: pointer;
    background: #FDDCC4;
}
.about {
    background-color: #FFF;
    padding: 80px 215px;
    height: 588px;
}
.aboutBox {
    width: 850px;
    justify-content: space-between;
}
.aboutImg {
    background-image: url(img/about-pets.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 408px;
}
.aboutText {
    width: 430px;
}
.aboutTextH3 {
    width: 370px;
    margin-top: 14px;
    font-weight: 100;
    font-family: 'Georgia';
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.aboutTextP {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}
.aboutTextPMargin {
    margin: 24px 0 25px;
}
.pets {
    padding: 80px 40px;
    height: 877px;
    background-color: #F6F6F6;
}
.petsH3 {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    font-family: 'Georgia';
    font-weight: 100;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    letter-spacing: 2px;
}
.petsSliderBox {
    margin-top: 60px;
}
.petsSlider {
    width: 990px;
    margin: 0 53px;
    justify-content: space-between;
}
.sliderArr {
    border-radius: 100%;
    border: 2px solid #F1CDB3;
    width: 52px;
    height: 52px;
    margin-top: 191px;
    padding-top: 12px;
    text-align: center;
    align-items: center;
    transition: 0.3s;
}
.sliderArr:hover {
    cursor: pointer;
    background: #F1CDB3;
}

.petCard {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    overflow: hidden;
    transition: 0.5s;
}
.petCard:hover, .petsCard:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
}
.petCard:hover > .petCardBtn, .petsCard:hover > .petCardBtn {
    background: #FDDCC4;
}
.petCardImg {
    width: 270px;
    height: 270px;
}
.petCardName {
    margin-top: 29px;
    margin-bottom: 30px;
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.petCardBtn {
    margin: 0 41.5px;
    background-color: #FAFAFA;
    width: 187px;
    height: 52px;
    border: 2px solid #FDDCC4;
}
.petsBtn {
    align-items: center;
    text-align: center;
    padding: 15px;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 59px;
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    width: 261px;
    height: 52px;
}
.imgKatrine {
    background: url(img/pets-katrine.jpg) center;
}
.imgJennifer {
    background: url(img/pets-jennifer.jpg) center;
}
.imgWoody {
    background: url(img/pets-woody.jpg) center;
}
.imgSophia {
    background: url(img/pets-sophia.jpg) center;
}
.imgTimmy {
    background: url(img/pets-timmy.jpg) center;
}
.imgCharly {
    background: url(img/pets-charly.jpg) center;
}
.imgScarlett {
    background: url(img/pets-scarlett.jpg) center;
}
.imgFreddie {
    background: url(img/pets-freddie.jpg) center;
}
.help {
    height: 611px;
    background-color: #FFF;
    padding: 80px 60px;
}
.helpH3 {
    font-family: 'Georgia';
    font-weight: 100;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 2.2px;
    color: #545454;
    text-align: center;
}
.helpList {
    margin: auto;
    margin-top: 5px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-flow: row wrap;
}
.helpListBox {
    margin-top: 55px;
    height: 113px;
    width: 200px;
}
.helpImg {
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
}
.helpImgPetFood {
    background-image: url(img/pet-food.svg);
}
.helpImgTransportation {
    background-image: url(img/transportation.svg);
}
.helpImgBowlsAndCups {
    background-image: url(img/bowls-and-cups.svg);
}
.helpImgShampoos {
    background-image: url(img/shampoos.svg);
}
.helpImgVitamins {
    background-image: url(img/vitamins.svg);
}
.helpImgToys {
    background-image: url(img/toys.svg);
}
.helpImgMedicines {
    background-image: url(img/medicines.svg);
}
.helpImgCollarsLeashes {
    background-image: url(img/collars-or-leashes.svg);
}
.helpImgSleepingAreas {
    background-image: url(img/sleeping-area.svg);
}
.helpListName {
    margin-top: 30px;
    font-family: 'Georgia';
    font-weight: 100;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}


.donation {
    height: 462px;
    background-color: #F6F6F6;
    padding: 80px 182px;
    justify-content: space-between;
}
.donationImg {
    margin-top: 11px;
    height: 261px;
    width: 505px;
    background: url(img/donation-dog.png) center;
}
.donationBlock {
    width: 380px;
}
.donationH3 {
    margin-top: 1px;
    font-family: 'Georgia';
    font-weight: 100;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 2px;
    color: #545454;
    margin-bottom: -1px;
}
.donationH5 {
    margin-top: 20px;
    font-family: 'Georgia';
    font-size: 15px;
    line-height: 110%;
    letter-spacing: -0.1px;
    color: #545454;
}
.donationCredit {
    margin-top: -6px;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
}
.donationCreditBox {
    padding: 10px 15px 10px 15px;
}
.donationCreditImg {
    background: url(img/credit-card.svg) center;
    width: 30px;
    height: 23px;
}
.donationCreditNum {
    margin-left: 15px;
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 115%;
    letter-spacing: -0.15px;
    color: #545454;
}
.donationCreditP {
    margin-top: 20px;
    font-family: 'Arial';
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}
.footer {
    height: 350px;
    background-color: #0ff3;
    background: url(img/footer-back.jpg) center;
    padding: 40px 40px 0;
    justify-content: space-between;
}
.footerBox {
    width: 300px;
    height: 310px;
}
.footerH3 {
    margin-top: 16px;
    font-family: 'Georgia';
    font-weight: 100;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 2px;
    color: #FFF;
}
.footerImgDog {
    background: url(img/footer-dog.png);
}
.footerBox h4 {
    margin-left: 20px;
    font-family: 'Georgia';
    font-weight: 100;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.footerMailImg {
    background: url(img/mail.svg) center;
    width: 40px;
    height: 26px;
}
.footerPhoneImg {
    background: url(img/phone.svg) center;
    width: 40px;
    height: 32px;
}
.footerPinImg {
    background: url(img/pin.svg) center;
    width: 22px;
    height: 32px;
    margin-left: -2px;
}
.footerMailMargin {
    margin: 42px 0 43px;
}
.footerPinMargin {
    margin-top: 33px;
    margin-bottom: 37px;
}
.footerH4Center {
    width: 260px;
}
.footerBoxCenter {
    margin-left: -20px;
}
.footerPinImgOne {
    margin-top: 6px;
}
.footerPinImgTwo {
    margin-top: -5px;
}

@media screen and (max-width: 800px) {
    html {
        width: 768px;
    }
    .start {
        height: 1165px;
        padding: 0 30px;
        background-size: cover;
    }
    .startMain {
        margin-top: 60px;
        flex-direction: column;
        align-items: center;
    }
    .startText {
        margin-top: 0px;
    }
    .startBtn {
        align-items: center;
        text-align: center;
        margin-left: calc(50% - 207px/2 - 0.5px);
    }
    .startImg {
        margin-top: 115px;
        margin-left: calc(50% - 569px/2 + 70px);
        background-size: contain;
        width: 569px;
        height: 593px;
    }
    .about {
        height: 1048px;
        padding: 80px 169px;
    }
    .aboutBox {
        width: 550px;
        flex-direction: column-reverse;
    }
    .aboutTextH3 {
        margin-top: 0;
    }
    .aboutImg {
        margin: 80px 65px;
    }
    .petCard768 {
        display: none;
    }
    .help {
        height: 779px;
        padding: 80px 40px;
    }
    .donation {
        height: 783px;
        flex-direction: column-reverse;
        padding: 80px 131px 100px;
        align-items: center;
    }
    .footer {
        height: 639px;
        flex-wrap: wrap;
        padding: 30px 64px 0;
        background-size: cover;
    }
    .footerH3 {
        margin-top: 0;
    }
    .footerImgDog {
        margin: 0 auto;
        align-items: center;
        margin-top: -11px;
    }
    .pets {
        padding: 80px 30px;
    }
    .petsSlider {
        width: 600px;
        margin: 0 10px;
    }
}

@media screen and (max-width: 425px) {
    html {
        width: 320px;
    }
    .start {
        height: 823px;
        padding: 0 20px;
    }
    .navHiden320 {
        display: none;
    }
    .burgerBtn {
        margin-top: 19px;
        background: url(img/burger.svg) center;
        width: 30px;
        height: 22px;
        display: block;
    }
    .startText {
        margin: 0;
        text-align: center;
        width: 295px;
    }
    .startMain {
        margin-top: 60px;
        flex-direction: column;
        align-items: center;
    }
    .startTextH2 {
        margin: auto;
        font-size: 25px;
        line-height: 130%;
        width: 200px;
        text-align: center;
        letter-spacing: 1.4px;
    }
    .startBtn {
        margin-left: 0;
    }
    .startImg {
        margin-left: calc(50% - 260px/2 + 30px);
        margin-top: 120px;
        background-size: contain;
        width: 260px;
        height: 272px;
    }
    .about {
        height: 974px;
        padding: 42px 25px;
    }
    .aboutBox {
        width: 280px;
    }
    .aboutText {
        width: 270px;
    }
    .aboutTextH3 {
        width: auto;
        text-align: center;
        font-size: 25px;
    }
    .aboutTextP {
        text-align: justify;
    }
    .aboutTextPMargin {
        margin: 24px 0 22px;
    }
    .aboutImg {
        width: 258px;
        height: 360px;
        background-size: contain;
        margin: 38px 10px;
    }
    .petsH3 {
        font-size: 25px;
        width: auto;
        letter-spacing: 1.4px;
    }
    .pets {
        padding: 42px 10px;
        height: 791px;
    }
    .petCard320 {
        display: none;
    }
    .petsSliderBox {
        margin-top: 42px;
    }
    .help {
        height: 745px;
        padding: 42px 15px;
    }
    .helpH3 {
        font-size: 25px;
        letter-spacing: 1.4px;
    }
    .helpListName {
        margin-top: 20px;
        font-size: 15px;
    }
    .helpImg {
        height: 50px;
        width: 135px;
        background-size: contain;
    }
    .helpListBox {
        margin-top: 30px;
        height: 87px;
        width: 135px;
        align-items: center;
        text-align: center;
    }
    .helpList {
        margin-top: 11px;
        justify-content: space-between;
    }
    .donation {
        height: 542px;
        padding: 42px 20px;
        text-align: center;
    }
    .donationH3 {
        font-size: 25px;
        letter-spacing: 1.4px;
        line-height: 125%;
    }
    .donationH5 {
        font-size: 15px;
        font-weight: 100;
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .donationBlock {
        width: 280px;
    }
    .donationCreditNum {
        font-size: 15px;
        line-height: 110%;
        margin-top: 5px;
    }
    .donationCredit {
        width: 281px;
        height: 43px;
    }
    .donationCreditP {
        text-align: justify;
    }
    .donationImg {
        width: 260px;
        height: 135.2px;
        background-size: contain;
    }
    .footer {
        height: 809px;
        padding: 30px 10px 0;
        text-align: center;
        align-items: center;
    }
    .none320 {
        display: none;
    }
    .footerH3 {
        font-size: 25px;
        letter-spacing: 1.4px;
    }
    .footerMailImg {
        margin-left: 25px;
    }
    .footerPhoneImg {
        margin-left: 29px;
    }
    .footerTelH4 {
        margin-top: 3px;
    }
}
